[submodule "Assets/Packages/Plugins/LogPipeline"]
	path = Assets/Packages/Plugins/LogPipeline
	url = https://github.com/Cr7Sund/LogPipeline.git
[submodule "Assets/Packages/Plugins/IocContainer_Unity"]
	path = Assets/Packages/Plugins/IocContainer_Unity
	url = https://github.com/Cr7Sund/IocContainer_Unity.git
[submodule "Assets/Packages/Core/Utility"]
	path = Assets/Packages/Core/Utility
	url = https://github.com/Cr7Sund/Utility.git
[submodule "Assets/Packages/Plugins/PromiseTask_Source"]
	path = Assets/Packages/Plugins/PromiseTask_Source
	url = https://github.com/Cr7Sund/PromiseTask_Source.git
