[submodule "Assets/Packages/Plugins/LogPipeline"]
	path = Assets/Packages/Plugins/LogPipeline
	url = https://github.com/Cr7Sund/LogPipeline.git
[submodule "Assets/Packages/Plugins/IocContainer_Unity"]
	path = Assets/Packages/Plugins/IocContainer_Unity
	url = https://github.com/Cr7Sund/IocContainer_Unity.git
