<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elastic.Apm" version="1.22.0" />
  <package id="Elastic.CommonSchema" version="1.5.3" />
  <package id="Elasticsearch.Net" version="7.17.5" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.1.0" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.1.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" />
  <package id="Serilog" version="3.1.1" manuallyInstalled="true" />
  <package id="Serilog.Formatting.Compact" version="1.1.0" />
  <package id="Serilog.Formatting.Elasticsearch" version="9.0.3" />
  <package id="Serilog.Sinks.Elasticsearch" version="9.0.3" manuallyInstalled="true" />
  <package id="Serilog.Sinks.File" version="5.0.0" manuallyInstalled="true" />
  <package id="Serilog.Sinks.PeriodicBatching" version="3.1.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" />
  <package id="System.Reflection.Metadata" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="4.7.0" />
  <package id="System.Text.Json" version="4.7.0" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" />
</packages>